body {
    font: normal 1.5em Arial;
}

input {
    width: 90px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

input:hover {
    background-color: darkgray;
    border: none;
}