* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: normal 18pt Arial;
    margin: 20px;
}

h1 {
    margin-top: 20px;
}

input {
    font: normal 18pt Arial;
    width: 100px;
}

div#res {
    margin-top: 20px;
}