* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

div#area {
    font: normal 20pt Arial;
    background-color: rgb(42, 139, 42);
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}
