@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
    --cor1: #0f172a;
    --cor2: #1e293b;
    --cor3: #38bdf8;
    --cor4: #0ea5e9;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #1e293b;
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: #ffff;
    color: black;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

form label {
    text-align: center;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--cor2)
}

form button {
    border: none;
    background-color: var(--cor2);
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    color: white;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
}

form button:hover {
    background-color: var(--cor1);
}


footer#rodape {
    background-color: var(--cor1);
    color: #94a3b8;
    text-align: center;
    font-size: 0.9rem;
    margin-top: auto;
}

footer#rodape a {
    text-decoration: none;
    color: var(--cor3);
    font-weight: bold;
}

footer#rodape a:hover {
    text-decoration: underline;
}